body{
    background-color: #fafafa;
    margin: 0;
}
section{
    display: block;
    justify-content: center;
    margin: 65px 290px ;
}
.main {
    background-color: #fff;
    width: 66%;
    border: solid #dfdfdf 1px;
    border-radius: 3px;
}
.main .story{
    margin: 20px 10px 0;
}

.img {
    width: 60px;
    height: 60px;
    border: red solid 2px ;
    border-radius: 50%;
}

button{
    border: none;
    background-color: #fff;  
}


nav{

    background-color: #fff;
    margin-top: 0;
    display: flex;
    padding: 10px 290px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border: #dfdfdf solid 1px;
}
nav input{
    background-color: #efefef;
    border: none;
    border-radius: 10px;
    width: 268px;
    height: 34px;
    margin-left: 220px;  
}
.nav-icon{
    margin-left: 100px;
}

.icon{
    padding-right:15px;
            
}
.profile-icon{
    width: 24px;
    border-radius: 50%;
}
